@model TeachPlan.Plan
<div>
    @using (Ajax.BeginForm("AddPlan", "Home",null, new AjaxOptions
        {
            // LoadingElementId="loading",
            // LoadingElementDuration=1,
            // UpdateTargetId="tabs-1",
            // InsertionMode = InsertionMode.InsertAfter,
            HttpMethod = "POST",
            OnSuccess = "onAddPlanSucess"
        }, new { @id = "addPlanForm" }))
    {
        <div class="editor-label">
            @Html.LabelFor(m => m.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.ClassName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.ClassName)
            @Html.ValidationMessageFor(m => m.ClassName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Organiser)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Organiser)
            @Html.ValidationMessageFor(m => m.Organiser)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Public)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(m => m.Public)
            @Html.ValidationMessageFor(m => m.Public)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Subject)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.Subject.Id, TeachPlan.Controllers.HomeController.getAllSubjects())
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Grade)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.Grade.Id, TeachPlan.Controllers.HomeController.getAllGrades())
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Textbook)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.Textbook.Id, TeachPlan.Controllers.HomeController.getAllTextbooks())
        </div>                                      
    }
</div>
